@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  color: #333;
  background: url('../img/vegitables.jpg') no-repeat center center fixed / cover;
}

.header-overlay {
  height:100%;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:0;
  background:#333;
  opacity:0.5;
}

/* .v-container {
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
  z-index: -10;
}

.fullscreen-video-wrap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index: -10;
}

.fullscreen-video-wrap video {
  min-height:100%;
  min-width:100%;
} */


ul {
  list-style: none;
  padding: 0;
}

a {
  color:#fff;
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
}

a:hover {
  color:  #ff4444;
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  z-index: 1;
  font-size: 1.75rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

header.inner {
  background: transparent;
  position: relative;
}

#logo {
    overflow: hidden;
    opacity: 0.80;

}

#logo h1 {
	background: #ff4444;
	color: #fff;
	border-radius: 6px;
	font-family:'Nothing You Could Do', cursive;
  font-weight: 400;
  width: 175px;
  height: 100px;
  transform: skew(15deg);
  padding-left: 1.5rem;
  font-size: 2rem;
}
		
#logo span {
  font-weight: 800;
}
	


/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.add-btn {
  color: #fff;
  font-family:'Nothing You Could Do', cursive;
  background: transparent;
  border: none;
}
.add-btn:hover {
  color: #ff4444;
}

/* Home Search */
.search-wrap {
  /* background: url('../img/market.jpg') no-repeat center center fixed / cover; */
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center;
  opacity: 0.95;

}

.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  font-family: 'Nothing You Could Do', cursive;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s;
  opacity: 0.95;
  font-weight: bold;

}

.search-form input[type='submit']:hover {
  background: #ff4444;
}

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow);
}

.search-form i {
  color: #333;
}

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
}

input[type='search'] {
  flex-basis: 600px;
}

/* Food */
.food {
  background: url('../img/blackboard.jpg');
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  opacity: 0.95;
  /* flex-wrap: wrap; */
}

.food:hover {
  background: url('../img/yellow.jpg') no-repeat center / cover;
  /* background-size: cover,
  background-repeat:no-repeat; */
  color: transparent;
  padding: 1rem;
  /* background-image: inherit;
  background-size: cover; */
  opacity: 1;

}

.food ul {
  list-style: none;
  display: flex;
}

.food li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.food .tech span {
  color: var(--primary-color);
}
#foods {
  color: #fff;
}

/* Form */
.form-wrap {
  margin: auto;
  background: url('../img/blackboard.jpg');
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  opacity: 0.95;
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .add-btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
  border-radius: 0.25rem;
}

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .search-form {
    width: 100%;
  }

  input[type='search'] {
    flex-basis: 100%;
  }

  .search-wrap h1 {
    font-size: 2rem;
  }

  .search-wrap {
    padding: 2.3rem;
  }

  .food ul {
    flex-direction: column;
  }

  .food .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 0rem;
  }

  header nav li {
    margin: 0 10px;
    font-size: 1.75rem;
  }

  .search-form {
    display: flex;
    flex-direction: column;
  }

  input[type='search'] {
    flex-basis: 0;
  }

  .search-form i {
    display: none;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}


